
    body{
        margin: 0px;
        padding: 0px;
        background-image: url('img.jpg')  ;
        background-attachment: fixed;
        background-size: cover;
    }
    #mainContainer{
    width: 50%;
    margin: 2% auto;
    font-size: 150%;
}
h1{
    text-align: center;
}
#description{
    margin: 0px;
    width: 70%;
    padding: 1%;
}
#button{
    margin: 0px;
    width: 20%;
    padding: 1%;
    
}
#listItem{
    opacity: 0.8;
    margin: 2px;
    width: 90%;
    background-color: white;
    padding: 1%;
}
#delete{
    
    float: right;
    width: 10%;
    padding: 1%;
    background-color: white;
}